doctype html
html
  head
    meta(charset="utf-8")
    title Do you even Banjo?
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/main.css")

  body.home
    nav
      .site-title: a(href="/") Banjo Store
      .links
        a(href="") About
        a(href="") Store
        a(href="") Specials
        a(href="") Lessons
    header
      .title
        h1 Revolutionary Banjo
        a(href="page.html").cta Learn More
        
    
    section.boom-title Culpa qui officia
    
    section.three-points
      .blurb
        i.i-clock
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      
      .blurb
        i.i-anchor
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      
      .blurb
        i.i-briefcase
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    section.testimonial
      .lockup
        img(src="http://fillmurray.com/g/100/100" height="100px" width="100px").avatar
        p &#8220;Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&#8221;
        
        cite — Bill Murray
    
    
    aside.signup-modal
      .signup-modal--overlay
      .signup-modal--card
        .close &#10006;
        h3 Duis aute irure dolor in reprehenderit.
        p Sunt in culpa qui officia deserunt mollit anim id est laborum.
        form
          input(type="text" placeholder="Email")
          input(type="submit")
      
    
    script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(src="/js/jquery.cookie.js")
    script(src="/js/myfunctions.js")
    
